<div growl></div>

<button type="button" class="btn btn-default" ng-click="toggleEditor()">Toggle Editor</button>
<button type="button" class="btn btn-default" ng-click="toggleImage()">Toggle Result</button>
<hr>
<div collapse="DOMVars.editorCollapsed">
    <div id="tjsEditor">
        <tjs-editor render-function="renderFkt(xml)"></tjs-editor>
    </div>
</div>
<div collapse="DOMVars.imageCollapsed">
    <img
        ng-src="{{DOMVars.imageData}}"
        alt="Nothing rendered!"
        />
</div>

