<div class="container-fluid row">
    <div growl></div>
     <div class="col-md-6 ">
     	<textarea ui-codemirror
     			  class="xmlInput"
     			  ng-model="xmlInput"
     			  ui-codemirror-opts="editorOptions"></textarea>
     </div>
     <div class="col-md-6 ">
	     <canvas render-canvas 
                add-patch="addPatch"
                set-size="setSize"
                reset="reset"></canvas>
     </div>
     <div class="col-md-6 ">
	     <button type="button"
	          class="btn btn-default"
              ng-disabled="sendDisabled"
	          ng-click="sendRequest()" > Send to server </button>
      <button type="button"
            class="btn btn-default"
            ng-show="rendering"
            ng-click="sendCancel()" > Cancel rendering</button>
	 </div>
     <div class="col-md-6 ">
         <progressbar class="progress-striped active" 
                      animate="true" 
                      max="100" 
                      value="percentage" 
                      type="{{progressbarType}}"
                      ng-show="rendering">
        <b>{{percentageMsg}}</b>
    </progressbar>
     </div>
     
</div>



