/* app css stylesheet */

.xmlInput {
	width: 650px;
	height:500px;

}
.my-drop-zone { 
	border: dotted 3px lightgray; 
}
/* Default class applied to drop zones on over */
.nv-file-over { 
	border: dotted 3px red; 
} 


.progress { 
  height: 3em;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}