<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nori web interface</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css"> 
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
  <link rel='stylesheet' href='bower_components/angular-loading-bar/src/loading-bar.css' type='text/css' media='all' />
  <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.min.css" >
  <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" type="text/css" href="bower_components/codemirror/theme/twilight.css">


</head>
<body ng-controller="MainCtrl">
  <div class="btn-group">
      <label class="btn btn-primary" ng-model="viewModel" btn-radio="'view1'">view1</label>
      <label class="btn btn-primary" ng-model="viewModel" btn-radio="'view2'">view2</label>
  </div>

  <hr>
  <div ng-view></div>

  <!-- JQUERY BEFORE ANGULAR -->    
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  
  <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>


  <script src="bower_components/angular/angular.js"></script>
 
  <script src="bower_components/angular-route/angular-route.js"></script>
 
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
  <script src="bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
  <script src="bower_components/codemirror/lib/codemirror.js"></script>
  <script src="bower_components/codemirror/mode/xml/xml.js"></script>
  <script src="bower_components/three.js/build/three.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>



  <script src="app.js"></script>
  <!--SCRIPTS-->
  <script src="view2/scripts/console-shame.js"></script>
  <script src="view2/scripts/AssimpOBJLoader.js"></script>
  <script src="view2/scripts/OrbitControls.js"></script>

  <!--DIRECTIVES-->
  <script src="view2/directive/tjsModelViewer.js"></script>

  <!--SERVICES-->
  <script src="view1/service/communicationService.js"></script>

  <!--FACTORIES-->
  
  <!--CONTROLLERS-->
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>

</body>
</html>
